<template>
    <q-tr :props="props">
      <q-td key="ID" :props="props">
        <q-toolbar>
          {{ props.row.id }}
        </q-toolbar>
      </q-td>
      <q-td key="Image" :props="props">
        <img class="image-data" :src="props.row.imageUrl" alt="">
      </q-td>
      <q-td key="Action" :props="props">
        <q-btn-group push>
          <q-btn label="Action" color="primary" @click="carousel = true" />
          <q-btn push label="QUICK REJECT" color="negative"/>
        </q-btn-group>
      </q-td>
      <q-dialog v-model="carousel" full-width full-height persistent transition-show="scale" transition-hide="scale">
        <ModalModified :dataPOI="data"
                       :props = "props"
                       :districtId = "props.row.districtId"
                       :wardId = "props.row.wardId"
                       :provinceId="props.row.provinceId" />
      </q-dialog>
    </q-tr>
</template>

<script>
import ModalModified from 'components/ModalModified'

export default {
  name: 'ImageItem',
  components: { ModalModified },
  props: {
    props: {
      type: Object,
      required: true
    },
    data: {
      type: [Object, Array],
      required: true
    }
  },
  data () {
    return {
      carousel: false
    }
  }
}
</script>
<style scoped>
.image-data {
  width: 40%;
  height: 200px;
}
</style>
