<template>
  <q-card class="card-container">
    <q-card-section class="full-width row">
      <div class="col-5">
        <p>Image</p>
        <img class="image-data-in-item" :src="data.imageUrl" alt="">
      </div>
      <q-form class="col-7 q-pl-sm row">
        <div class="col-md-6 q-pt-sm q-pl-sm">
          <label class="text-bold" >Name</label>
          <q-input filled v-model="name"/>
        </div>
        <div class="col-md-6 q-pt-sm q-pl-sm">
          <label class="text-bold" >Categories</label>
          <q-input filled v-model="cate" />
        </div>
        <div class="col-md-6 q-pt-sm q-pl-sm">
          <label class="text-bold" >House Number</label>
          <q-input filled v-model="houseNum"/>
        </div>
        <div class="col-md-6 q-pt-sm q-pl-sm">
          <label class="text-bold" >Province</label>
          <q-select @input="onShowDistrict"
                    filled
                    v-model="province"
                    :display-value="`${province.name}`"
                    :options="GET_PROVINCES"
                    :option-label="opt => opt.name "/>
        </div>
        <div class="col-md-6 q-pt-sm q-pl-sm">
          <label class="text-bold" >District</label>
          <q-select @input="onShowWard" filled v-model="district" :options="GET_DISTRICTS"
                    :display-value="`${district.name}`"
                   :option-label="opt => opt.name"/>
        </div>
        <div class="col-md-6 q-pt-sm q-pl-sm">
          <label class="text-bold" >Ward</label>
          <q-select filled v-model="ward" :options="GET_WARDS"
                    :display-value="`${ward.name}`"
                    :option-label="opt => opt.name "/>
        </div>
      </q-form>
    </q-card-section>

    <q-card-section class="q-pt-none">
      <GmapMap
        :center = "{
          lat: this.data.lat,
          lng: this.data.lng
        }"
        :zoom="18"
        map-type-id="terrain"
        style="width: 400px; height: 200px"
      >
        <GmapMarker
          @drag="updateCoordinates"
          :position="{
          lat: this.data.lat,
          lng: this.data.lng
           }"
          :draggable="true"
        />
      </GmapMap>
      <br/>
      <br/>
      <GmapMap
        :center = "{
          lat: this.data.lat,
          lng: this.data.lng
        }"
        :zoom="18"
        map-type-id="roadmap"
        style="width: 400px; height: 200px"
        @click="$emit('mapClick', $event, 'googlemap')"
      >
        <gmap-cluster>
          <gmap-marker
            v-bind:position.sync="item"
            v-for="(item, index) in POIitem"
            :key="item.id"
            :label="`${index + 1}`"
            :icon="{
            url: 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png',
            labelOrigin: {x: 15, y: -5}
            }"
            :draggable="false"
          />
        </gmap-cluster>
      </GmapMap>
      <br/>
      <br/>
      <HeatMap
        :points="dataPOI"
        :lat="dataPOI[0].lat"
        :lng="dataPOI[0].lng"
        :width="400"
        :height="200"
      />
    </q-card-section>

    <q-card-actions align="right" class="bg-white text-teal">
      <q-btn flat label="OK" v-close-popup />
    </q-card-actions>
  </q-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import GmapCluster from 'vue2-google-maps/dist/components/cluster'
import HeatMap from './heatMap'

import Vue from 'vue'
Vue.component('GmapCluster', GmapCluster)
/* <vue-google-heatmap :points="POIitem"
                          :lat= 10.78724820167
                          :lng= 106.66398106142
                          :width="700"
                          :height="500" />
     */
export default {
  name: 'ModalModified',
  components: { GmapCluster, HeatMap },
  data () {
    return {
      dataTest: [
        { lat: 37.786117, lng: -122.440119 },
        { lat: 37.786564, lng: -122.440209 },
        { lat: 37.786905, lng: -122.440270 },
        { lat: 37.786956, lng: -122.440279 },
        { lat: 37.800224, lng: -122.433520 },
        { lat: 37.800155, lng: -122.434101 },
        { lat: 37.800160, lng: -122.434430 },
        { lat: 37.800378, lng: -122.434527 },
        { lat: 37.800738, lng: -122.434598 },
        { lat: 37.800938, lng: -122.434650 },
        { lat: 37.801024, lng: -122.434889 },
        { lat: 37.800955, lng: -122.435392 },
        { lat: 37.800886, lng: -122.435959 }
      ],
      name: this.props.row.name ? this.props.row.name : 'Chưa có tên',
      cate: this.props.row.categoryId ? this.props.row.categoryId : 'Chưa có cate',
      houseNum: this.props.row.houseNumber ? this.props.row.houseNumber : 'Chưa có house number',
      data: this.props.row,
      district: {},
      ward: {},
      province: {},
      // Lat & lng for center map
      lat: null,
      lng: null,
      POIitem: []
    }
  },
  async created () {
    await this.dataPOI.forEach(item => {
      this.POIitem.push({
        lat: item.lat,
        lng: item.lng
      })
    })
    await this.fetchProvince()
    await this.GET_PROVINCES.map(item => {
      if (item.id === this.provinceId) {
        this.province = item
      }
    })
    await this.fetchDistrict(this.data.provinceId)
    await this.GET_DISTRICTS.map(item => {
      if (item.id === this.districtId) {
        this.district = item
      }
    })
    await this.fetchWard(this.data.districtId)
    await this.GET_WARDS.map(item => {
      if (item.id === this.wardId) {
        this.ward = item
      }
    })
  },
  methods: {
    ...mapActions({
      fetchProvince: 'app/fetchProvince',
      fetchDistrict: 'app/fetchDistrict',
      fetchWard: 'app/fetchWard'
    }),
    getCenterMap () {
      return {
        lat: this.data[this.data.length - 1].lat,
        lng: this.data[this.data.length - 1].lng
      }
    },
    async onShowDistrict () {
      await this.fetchDistrict(this.province.id)
      this.district = this.GET_DISTRICTS[0]
      await this.fetchWard(this.district.id)
      this.ward = this.GET_WARDS[0]
    },
    async onShowWard () {
      await this.fetchWard(this.district.id)
      this.ward = this.GET_WARDS[0]
    },
    // Set lat & lng for center map
    updateCoordinates (location) {
      this.lat = location.latLng.lat()
      this.lng = location.latLng.lng()
    }
  },
  computed: {
    ...mapGetters('app', [
      'GET_PROVINCES',
      'GET_DISTRICTS',
      'GET_WARDS'
    ])
  },
  props: {
    props: {
      type: Object,
      required: true
    },
    provinceId: {
      type: Number,
      required: true
    },
    districtId: {
      type: Number,
      required: true
    },
    dataPOI: {
      type: [Object, Array],
      required: true
    },
    wardId: {
      type: Number,
      required: true
    }
  }
}
</script>

<style scoped>
.image-data-in-item {
  width: 100%;
  max-height: 200px;
}
</style>
