<template>
  <div id="q-app">
    <q-layout view="hHh lpR lFr">
      <q-header elevated class="bg-primary text-white" height-hint="98">
        <q-toolbar>
          <q-toolbar-title class="text-center">
            DGM Intership
          </q-toolbar-title>
        </q-toolbar>

        <q-tabs class="full-width row  justify-center items-start content-start"  >
          <q-route-tab to="/require1" label="Require 1" />
          <q-route-tab to="/require2" label="Require 2" />
          <q-route-tab to="/require3" label="Require 3" />
          <q-route-tab to="/map" label="Map" />
        </q-tabs>
      </q-header>

      <q-page-container class="full-width row  justify-center items-start content-start q-mt-xl" >
        <router-view />
      </q-page-container>
    </q-layout>
  </div>
</template>
<script>
import Vue from 'vue'
import * as VueGoogleMaps from 'vue2-google-maps'
// import VueGoogleHeatmap from 'vue-google-heatmap'

Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyCNtuF7X-oy_YYz1IIMfwViaW-2JujznvA',
    libraries: ['places', 'visualization'] // This is required if you use the Autocomplete plugin
  }

})
/*
Vue.use(VueGoogleHeatmap, {
  apiKey: 'AIzaSyCNtuF7X-oy_YYz1IIMfwViaW-2JujznvA'
})
*/
export default {
  name: 'App'
}
</script>
