<template>
  <div v-if="!loading">
    <GmapMap
      :center = "{
          lat: 10.78724820167,
          lng: 106.66398106142
        }"
      :zoom="15"
      map-type-id="terrain"
      style="width: 500px; height: 300px"
    >
      <GmapMarker
        v-for="(item,key) in positions"
        :key="key"
        :position="{
          lat: item.lat,
          lng: item.lng
           }"
        :draggable="true"
      />
    </GmapMap>

  </div>
</template>

<script>
import axios from 'axios'
// import VueGoogleHeatmap from 'vue-google-heatmap'
// import Vue from 'vue'
// eslint-disable-next-line no-unused-vars
import MarkerClusterer from '@googlemaps/markerclustererplus'
/*
Vue.use(VueGoogleHeatmap, {
  apiKey: 'AIzaSyCNtuF7X-oy_YYz1IIMfwViaW-2JujznvA'
})
*/

export default {
  name: 'Map.js',
  data () {
    return {
      points: [],
      positions: [],
      loading: true
    }
  },
  async created () {
    console.log(MarkerClusterer)
    await axios.get('https://test-capi.poicollector.com/api/poi/assigned/v2')
      .then(response => {
        response.data.data.data.map(item => {
          this.positions.push(item)
          const a = {
            lat: item.lat,
            lng: item.lng
          }
          this.points.push(a)
        })
      })
      .catch(error => {
        throw error
      })
    this.loading = false
    console.log(this.points)
  }
}
</script>

<style scoped>

</style>
