<template>
  <div :style="style">
    <q-card class="my-card q-pa-sm ">
      <q-card-section>
        <div class="text-h6 text-center " style="font-size: 3rem">Register</div>
      </q-card-section>
      <q-card-section class="justify-center items-start content-start flex">
        <q-icon
          class="text-teal"
          :size="'lg'"
          name="how_to_reg"
        />
      </q-card-section>
      <q-card-actions vertical>
        <form @submit="onSubmit">
          <q-input class="q-pt-sm" outlined type="text" v-model="name" label="User name" />
          <q-input class="q-pt-sm" outlined type="password" v-model="password" label="Password" />
          <q-select class="q-pt-sm"  label="Choose your role"
                    outlined v-model="role" :options="roleOptions" :dense="false" :options-dense="hi">
          </q-select>
          <q-input class="q-pt-sm" outlined type="email" v-model="email" label="Email" />
          <q-toggle class="q-pt-md" v-model="accept" label="I accept the license and terms" />
          <q-btn
            type="submit"
            :loading="submitting"
            label="Register"
            class="q-mt-md full-width"
            color="teal"
          />
          <q-dialog v-model="register" persistent>
            <q-card  style="width: 30%" >
              <q-bar>
                User information
                <q-space />
                <q-btn dense flat icon="close" v-close-popup>
                  <q-tooltip>Close</q-tooltip>
                </q-btn>
              </q-bar>

              <q-list class="shadow-2 rounded-borders" style=" width: 100%;">
                <q-item class="text-center">
                  <q-item-section>
                    User name
                  </q-item-section>
                  <q-item-section>{{ name }}</q-item-section>
                </q-item>

                <q-separator/>

                <q-item class="text-center">
                  <q-item-section>
                    User password
                  </q-item-section>
                  <q-item-section>{{ password }}</q-item-section>
                </q-item>

                <q-separator/>

                <q-item class="text-center">
                  <q-item-section>
                    Role
                  </q-item-section>
                  <q-item-section>{{ role }}</q-item-section>
                </q-item>
                <q-separator/>

                <q-item class="text-center">
                  <q-item-section>
                    Email
                  </q-item-section>
                  <q-item-section>{{ email }}</q-item-section>
                </q-item>
                <q-separator/>

                <q-item class="text-center">
                  <q-item-section>
                    Toggle
                  </q-item-section>
                  <q-item-section>{{ accept }}</q-item-section>
                </q-item>
              </q-list>
            </q-card>
          </q-dialog>
        </form>
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
// eslint-disable-next-line no-unused-vars
import axios from 'axios'

export default {
  name: 'Require1',
  created () {
  },
  methods: {
    onSubmit (e) {
      e.preventDefault()
      this.submitting = true
      this.register = true
      this.submitting = false
    }
  },
  data () {
    return {
      name: '',
      password: '',
      accept: false,
      submitting: false,
      register: false,
      email: '',
      role: '',
      roleOptions: ['Admin', 'Moderator', 'Member'],
      style: {
        width: '30%'
      }
    }
  }
}
</script>

<style scoped>

</style>
