<template>
  <div :style="style">
    <q-card class="my-card q-pa-sm ">
      <q-card-section>
        <div class="text-h6 text-center " style="font-size: 3rem">Login</div>
      </q-card-section>
      <q-card-section class="justify-center items-start content-start flex">
        <q-icon
          class="text-teal"
          :size="'lg'"
          name="login"
        />
      </q-card-section>
      <q-card-actions vertical>
        <form @submit="onSubmit">
          <q-input class="q-pt-sm" outlined type="text" v-model="name" label="User name" />
          <q-input class="q-pt-sm" outlined type="password" v-model="password" label="Password" />
          <q-toggle class="q-pt-md" v-model="accept" label="Remember me?" />
          <q-btn
            type="submit"
            :loading="submitting"
            label="Login"
            class="q-mt-md full-width"
            color="teal"
          />
          <q-dialog v-model="showOption" persistent>
            <q-card>
              <q-card-section class="row items-center">
                <div>Name: {{ this.GET_USER.name }} </div>
                <div>Password: {{ this.GET_USER.password }} </div>
                <div>Token: {{ this.GET_USER.token }} </div>
              </q-card-section>
            </q-card>
          </q-dialog>
        </form>
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
// eslint-disable-next-line no-unused-vars
import axios from 'axios'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Require1',
  created () {
  },
  computed: {
    ...mapGetters('app', [
      'GET_LOADING',
      'GET_USER',
      'GET_ERROR'
    ])
  },
  methods: {
    ...mapActions({
      onLogin: 'app/onLogin',
      setLOADING: 'app/setLOADING',
      setDONELOADING: 'app/setDONELOADING'
    }),
    async onSubmit (e) {
      e.preventDefault()
      this.setLOADING()
      if (this.name.trim() !== '' && this.password.trim() !== '') {
        await this.onLogin({
          name: this.name,
          password: this.password
        })
        this.setDONELOADING()
        if (this.GET_ERROR.trim() === '') {
          this.$q.dialog({
            title: 'Login success!',
            html: true,
            message: `<div><strong>Name:</strong> ${this.GET_USER.name}</div><div><strong>Password:</strong> ${this.GET_USER.password}</div><div><strong>Token:</strong> ${this.GET_USER.token}</div>`
          }).onOk(() => {
            // console.log('OK')
          }).onCancel(() => {
            // console.log('Cancel')
          }).onDismiss(() => {
            // console.log('I am triggered on both OK and Cancel')
          })
        } else {
          this.$q.notify({
            message: `${this.GET_ERROR} !`,
            color: 'negative',
            position: 'top-right',
            timeout: 200
          })
          await this.$store.dispatch('app/setError', '')
        }
      } else {
        this.$q.notify({
          message: 'Email and password must not be empty!.',
          color: 'negative',
          position: 'top-right',
          timeout: 200
        })
      }
    },
    onLoginSuccess () {
      this.submitting = false
      this.$q.notify({
        message: 'Congraturation! Login successfully!.',
        color: 'positive',
        position: 'top-right',
        timeout: 200
      })
    },
    onLoginFail () {
      this.submitting = false
      this.$q.notify({
        message: 'Wrong user or password, please try again!.',
        color: 'negative',
        position: 'top-right',
        timeout: 200
      })
    }
  },
  data () {
    return {
      name: 'test.input',
      password: '123@123a',
      accept: false,
      submitting: false,
      showOption: false,
      style: {
        width: '30%'
      }
    }
  }
}
</script>

<style scoped>

</style>
