<template>
  <div>
    <h4 class="text-center">List Image</h4>
    <div class="q-pa-md">
      <q-table
        :data="GET_IMAGES "
        :columns="columns"
        row-key="name"
      >
        <template v-slot:body="props">
          <ImageItem :data="GET_IMAGES" :props = "props"/>
        </template>
      </q-table>
    </div>
  </div>
</template>

<script>
import ImageItem from 'components/ImageItem'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Require3',
  components: { ImageItem },
  data () {
    return {
      columns: [
        {
          name: 'ID',
          required: true,
          label: 'ID',
          align: 'left',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'Image', align: 'center', label: 'Image', field: 'ID', sortable: true },
        { name: 'Action', label: 'Action', field: 'Action', sortable: true }
      ]
    }
  },
  methods: {
    ...mapActions({
      fetchData: 'app/fetchData'
    })
  },
  async created () {
    this.$q.loading.show()
    await this.fetchData()
    this.$q.loading.hide()
  },
  computed: {
    ...mapGetters('app', [
      'GET_IMAGES'
    ])
  }
}
</script>
